name: generate animation

on:
  schedule:
    - cron: "0 0 * * *" # هر روز ساعت 00:00 UTC
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate GitHub Contribution Grid Snake (dark)
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: Milad-Noori
          outputs: dist/github-contribution-grid-snake-dark.svg
          palette: github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push SVG to output branch
        uses: peaceiris/actions-gh-pages@v6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
          user_name: "github-actions"
          user_email: "github-actions@github.com"
